/*  your css code here. If applicable */

.code-container {
            display: flex;
        }

        .code {
            width: 2em;
            height: 2em;
            font-size: 1.5em;
            text-align: center;
            margin: 0 0.2em;
        }